/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    background: #67a0bf;
    padding: 15px 50px;
}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.btn {
    background: #00bcd4;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary {
    background: #fff;
    color: #2196f3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Features */
.features {
    padding: 60px 50px;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.feature-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.feature-box {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    flex: 1;
    transition: 0.3s;
}


body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(207, 207, 207);
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

#revealedLetters {
    font-size: 40px;
    letter-spacing: 10px;
}

#lives {
    font-size: 20px;
}

#keyBoard button {
    width: 40px;
    height: 40px;
    margin: 3px;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .feature-container {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin: 15px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }
}